.container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 151px 50px;
    font: 12px Noto Sans KR, sans-serif;
    background-color: #fff;
  }
  
  .title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  
  .inputGroup {
    display: flex;
    margin-top: 31px;
    gap: 13px;
  }
  
  .inputWrapper {
    display: flex;
    flex-direction: column;
  }
  
  .formInput {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 16px 160px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .formInput_phonenum {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 16px 160px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
  }

  input::placeholder {
    text-align: left;
}
  
  .verifyImage {
    aspect-ratio: 0.71;
    object-fit: contain;
    width: 77px;
    border-radius: 10px;
  }
  
  .verificationGroup {
    display: flex;
    margin-top: 10px;
    gap: 9px;
  }
  
  .verifyButton {
    aspect-ratio: 1.69;
    object-fit: contain;
    width: 81px;
    border-radius: 10px;
  }
  
  .cardInput {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 26px 160px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    white-space: pre-wrap;
  }
  
  .submitButton {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 312px;
    margin: 26px auto;
    padding: 15px;
    font-size: 20px;
    color: rgba(56, 56, 56, 0.9);
    font-weight: 700;
    text-align: center;
  }
  
  .submitBackground {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .loginPrompt {
    display: flex;
    gap: 8px;
    justify-content: center;
    font: 14px Poppins, sans-serif;
  }
  
  .loginText {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  