.container { border-radius: 20px; background: #fff; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); display: flex; margin-top: 14px; width: 100%; flex-direction: column; color: rgba(56, 56, 56, 0.9); padding: 39px 13px; font: 400 24px Noto Sans KR, -apple-system, Roboto, Helvetica, sans-serif; }

.legend { display: flex; gap: 20px; font-size: 17px; color: #000; white-space: nowrap; letter-spacing: -0.41px; line-height: 1; justify-content: space-between; margin: 0 15px; }

.legendItem { display: flex; gap: 12px; }

.legendIcon { aspect-ratio: 1.03; object-fit: contain; object-position: center; width: 32px; }

.legendText { align-self: start; margin-top: 11px; }

.seatMapContainer { border-radius: 20px; background: linear-gradient(180deg, #87ceeb -7.29%, #f3f4f6 100%); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); align-self: center; display: flex; margin-top: 47px; width: 224px; max-width: 100%; flex-direction: column; color: #fff; white-space: nowrap; text-align: center; padding: 17px 28px 30px; font: 14px/1 ABeeZee, sans-serif; }

.seatRow { display: flex; gap: 37px; margin-top: 10px; }

.seatGroup { display: flex; gap: 3px; flex: 1; }

.seat { display: flex; flex-direction: column; padding: 0 3px; }

.seatRed { background: #ea2427; }

.seatGrey { background: #949494; }

.seatGreen { background: #2ca961; }

.seatTop { border-radius: 8px 8px 0 0; display: flex; width: 100%; padding: 3px 0; }

.seatNumber { border-radius: 4px; background: #fff; display: flex; width: 7px; height: 21px; -webkit-text-stroke: 0.5px; font-style: italic; }

.seatBottom { border-radius: 4px; background: #fff; display: flex; height: 7px; }

.confirmButton { border-radius: 20px; background: rgba(176, 224, 230, 0.9); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); margin-top: 42px; font-weight: 700; text-align: center; padding: 9px 70px 4px; }

.cancelButton { border-radius: 20px; background: rgba(248, 146, 148, 0.9); margin-top: 29px; font-weight: 700; text-align: center; padding: 11px 70px 3px; }