.seatSelection {
  background-color: #f3f4f6;
  display: flex;
  /* max-width: 480px; */
  /* width: 100%; */
  padding-bottom: 44px;
  flex-direction: column;
  /* overflow: hidden; */
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  display: flex;
  /* gap: 40px; */
  padding: 20px 21px;
  align-items: center;
  position: relative;
}

.backIcon {
  width: 39px;
  height: 37px;
}

.title {
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dateSection {
  display: flex;
  /* gap: 15px; */
  /* overflow-x: auto; */
  /* scrollbar-width: none; */
  -ms-overflow-style: none;
  /* 박스  */
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  justify-content: space-around;
}

.dateSection::-webkit-scrollbar {
  display: none;
}

.dateButton {
  border-radius: 20px;
  background-color: #f3f4f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  /* padding: 9px 16px; */
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: fit-content; */
  padding: 10px 0;
  /* justify-content: space-around; */
  width: 15%;
  height: 60px;
}

.dateButtonActive {
  background-color: rgba(176, 224, 230, 0.9);
}

.dateText {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
  color: #0c0c0c;
}

.dayText {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #0c0c0c;
  margin-top: 4px;
}

.scheduleSection {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  padding: 10px 0px;
}

.tripType {
  display: flex;
  justify-content: space-around;
}

.tripButton {
  border-radius: 10px;
  background-color: #f3f4f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 16px 26px 10px;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #727272;
  transition: all 0.2s ease;
  width: 40%;
}

.tripButtonActive {
  background-color: rgba(176, 224, 230, 0.9);
  color: #666666;
}

.scheduleDivider {
  background-color: rgba(0, 0, 0, 0.21);
  height: 1px;
  margin: 16px 29px;
}

.scheduleCards {
  display: flex;
  gap: 4px;
  padding: 5px 10px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  justify-content: space-around;
}

.scheduleCards::-webkit-scrollbar {
  display: none;
}

.scheduleCard {
  border-radius: 10px;
  background-color: #f3f4f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 30%;
  transition: all 0.2s ease;
}

.scheduleCardActive {
  background-color: rgba(176, 224, 230, 0.9);
}

.scheduleTime {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin: 0;
}

.seatsInfo {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin: 4px 0;
}

.waitingInfo {
  font-family: "Poppins", sans-serif;
  font-size: 7px;
  font-weight: 300;
  margin: 0;
}
/* ----------------------------------------------------------------------------------------- */
/* 버스예약 페이지 전체 그리드*/
.seatingSection {
  display: flex;
  flex-direction: column; /* 세로 정렬 */

  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 14px 10px;
  padding: 39px 0;
}

.legend {
  display: flex;
  /* justify-content: space-between; */
  /* margin: 0 10px; */
  font-size: 17px;
  justify-content: space-around;
  /* gap: 20px; */
  width: 100%;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.legendIcon {
  width: 32px;
  height: 31px;
}

.busLayout {
  margin-top: 20px;
  position: relative;
}

.driverLayout {
  display: flex;
  justify-content: center; /* 안쪽 요소를 가로 중앙에 정렬 */
  align-items: center; /* 안쪽 요소를 세로 중앙에 정렬 */
  width: 50%;
}

.driverIcon {
  width: 30px;
  height: 47px;
  padding: 4%;
}

.seatGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 2%;
}

.pair {
  display: flex;
  padding: 3%;
  margin: 2%;
  grid-template-columns: repeat(2, auto);
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
}

/* 시트아이콘 영역------------------------------------------------------------------------------------------------------------- */

.seatButton {
  display: flex;
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  flex-direction: column; /* 세로로 정렬 */
  width: 17vw;
  max-width: 90px;
  aspect-ratio: 1 / 1; /* 1:1 비율 유지 */
  position: relative;
}
.seatImg {
  
  width: 15vw;
  max-width: 50px;
  aspect-ratio: 1 / 1; /* 1:1 비율 유지 */
}
.seatText {
  position: absolute;
  font-size: 15px;
  line-height: 1;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  top: 50%; /* 세로 가운데 정렬 */
  left: 50%; /* 가로 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬을 위한 보정 */
}

/* ------------------------------------------------------------------------------------------------------- */
/* 예약 완료 누를시 뜨는 모달? */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* ------------------------------------------------------------------------------------------------------- */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  margin-top: 42px;
}

.confirmButton {
  border-radius: 20px;
  background-color: rgba(176, 224, 230, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 14px 70px 14px;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #666666;

  /* transition: all 0.2s ease; */
}

.cancelButton {
  border-radius: 20px;
  background-color: rgba(248, 146, 148, 0.9);
  padding: 15px 70px 3px;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.2s ease;
}
