.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  font-family: Arial, sans-serif;
  color: #333;
}

.header {
    background: #fff;
    padding: 20px 16px;
    display: flex;
    align-items: center;
}

.icon {
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  margin-right: 40px;
}

.error {
  background-color: #ffe0e0;
  color: #d9534f;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px auto;
}

.notificationBox {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  padding: 12px;
  transition: box-shadow 0.3s ease;
  max-width: 358px;
  background-color:  #87ceeb;
}

.notificationBox:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.dropdownButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}

.dropdownButton:hover {
  color: #007bff;
}

.description {
  margin: 8px 0;
  font-size: 0.9rem;
  color: black;
  font-weight: 700;
  word-break: keep-all;
  word-spacing: normal;
}

.downloadButton {
  display: block;
  margin: 10px auto;
  max-width: 120px;
  padding: 8px 16px;
  background-color: rgb(255, 255, 255);
  color: #000;
  border-radius: 4px;
  text-decoration: none;
  line-height: 20px;
}


.loading {
  text-align: center;
  font-size: 1rem;
  color: #666;
}

.empty {
  text-align: center;
  font-size: 1rem;
  color: #999;
}
