.container {
    /* max-width: none !important; */
    background: #fff;
    display: flex;
    width: 100%;
    
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    /* margin: 0 auto; */

  }
  
  .logo {
    aspect-ratio: 3.5;
    object-fit: contain;
    object-position: center;
    width: 35px;
  }
  
  .title {
    color: #000;
    text-align: center;
    margin-top: 16px;
    font: 700 24px Noto Sans KR, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .movePage{
    padding-bottom: 47px;
    height: 10vh;
    width: 100%;
      /* 스와이프 애니메이션 */

  transition: transform 3s ease-in-out;
  }
  .movePage .swipedDown {
    height: 100vh;
    transform: translateY(-90vh);
  }


  .busLayout {
    aspect-ratio: 1.20;
    object-fit: contain;
    object-position: center;
    width: 98%;
    align-self: stretch;

  }
  
  .timelineContainer {
    align-self: stretch;
    display: flex;
    margin-top: 15px;
    gap: 2px;
    color: #000;
    text-align: center;
  }
  
  .timelineWrapper {
    display: flex;
    margin-right: -94px;
    width: 100%;
    flex-direction: column;
    align-items: start;
  }
  
  .timelineInfo {
    display: flex;
    margin-left: 20px;
    gap: 29px;
    font-family: Niramit, sans-serif;
    font-weight: 400;
    white-space: nowrap;
  }
  
  .timeBox {
    z-index: 10;
    display: flex;
    margin-right: -138px;
    width: fit-content;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .time {
    font-size: 12px;
    align-self: center;
  }
  
  .duration {
    display: flex;
    margin-top: 6px;
    font-size: 11px;
  }
  
  .durationText {
    z-index: 10;
    border-radius: 20px;
    background-color: rgba(176, 224, 230, 0.9);
    margin: auto -194px auto 0;
    padding: -4px 70px 0;
  }
  
  .durationDot {
    background-color: rgba(176, 224, 230, 0.9);
    border-radius: 50%;
    display: flex;
    width: 20px;
    height: 20px;
  }
  
  .minutes {
    font-size: 11px;
    align-self: end;
    margin-top: 24px;
    flex-basis: auto;
  }
  
  .locationContainer {
    display: flex;
    margin-top: 5px;
    width: 90%;
    align-items: start;
    gap: 20px;
    justify-content: space-between;

  }
  
  .locationTime {
    font: 400 15px Niramit, sans-serif;
  }
  
  .locationName {
    align-self: center;
    font: 400 11px Niramit, sans-serif;
  }
  
  .seatMapTitle {
    margin-top: 65px;
    font: 700 24px Noto Sans KR, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .seatMap {
    border-radius: 20px;
    background: linear-gradient(180deg, #87ceeb -7.29%, #f3f4f6 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 68px;
    width: 199px;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    white-space: nowrap;
    text-align: center;
    padding: 36px 29px;
    font: 400 14px/1 ABeeZee, sans-serif;
  }
  
  .steeringWheel {
    aspect-ratio: 1.13;
    object-fit: contain;
    object-position: center;
    width: 26px;
    margin-left: 17px;
  }
  
  .seatGrid {
    align-self: stretch;
    display: flex;
    margin-top: 7px;
    gap: 32px;
  }
  
  .separator {
    margin-top: 62px;
    width: 331px;
    max-width: 100%;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  
  .ticketContainer {
    border-radius: 20px;
    background-color: #f3f4f6;
    display: flex;
    margin-top: 34px;
    width: 98%;
    align-items: center;
    gap: 2px;
    font-family: Noto Sans KR, -apple-system, Roboto, Helvetica, sans-serif;
    color: #000;
    text-align: center;
    justify-content: space-evenly;
    margin: 3% ;
  }
  
  .ticketInfo {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    /* margin:  0 13px; */
  }
  
  .routeName {
    font-size: 25px;
  }
  
  .departureTime {
    font-size: 15px;
    align-self: start;
    margin-top: 26px;
  }
  
  .seatNumber {
    font-size: 40px;
    font-weight: 900;
    align-self: stretch;
    margin: auto 0;
  }
  
  .ticketDivider {
    align-self: stretch;
    width: 1px;
    height: 140px;
    border: 1px dashed rgba(0, 0, 0, 0.2);
  }
  
  .qrCode {
    aspect-ratio: 0.87;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: stretch;
    margin: auto 0;
  }