/* 버스예약 페이지 전체 그리드*/
.seatingSection {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    /* margin: 14px 10px; */
    padding: 20px 0;
    width: 70%;
  }
  
  .legend {
    display: flex;
    /* justify-content: space-between; */
    /* margin: 0 10px; */
    font-size: 17px;
    justify-content: space-around;
    /* gap: 20px; */
    width: 100%;
  }
  
  .legendItem {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    flex-direction: column; 
  }
  
  .legendIcon {
    width: 20px;
    height: 20px;
  }
  
  .busLayout {
    margin-top: 30px;
    position: relative;
  }
  
  .driverLayout {
    display: flex;
    justify-content: center; /* 안쪽 요소를 가로 중앙에 정렬 */
    align-items: center; /* 안쪽 요소를 세로 중앙에 정렬 */
    width: 50%;
  }
  
  
  .driverIcon {
    width: 20px;
    height: 30px;
    padding: 2%;
  }
  
  
  .seatGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  
  .pair {
    display: flex;
    /* padding: 2%; */
    grid-template-columns: repeat(2, auto);
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
  }
  
  /* 시트아이콘 영역------------------------------------------------------------------------------------------------------------- */
  
  .seatButton{
    display: flex;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    flex-direction: column; /* 세로로 정렬 */
    width: 10px;
    aspect-ratio: 1 / 1; /* 1:1 비율 유지 */
    padding: 1px;
  }
  .seatImg{
    width: 20px;
    aspect-ratio: 1 / 1; /* 1:1 비율 유지 */
  
  }
  .seatText {
    font-size: 8px;
    line-height: 1; 
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    
    /* width: 100%;  */
    /* text-align: center;  */
  }
  