.container {
    background-color: #fff;
    display: flex;
    max-width: 480px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    padding: 226px 50px;
    font: 12px 'Noto Sans KR', sans-serif;
  }
  
  .title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  
  .verificationSection {
    display: flex;
    gap: 9px;
    margin-top: 10px;
  }
  
  .verifyButton {
    aspect-ratio: 1.69;
    width: 81px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
  
  .submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin: 24px auto;
    width: 312px;
    height: 48px;
    font-size: 20px;
    color: rgba(56, 56, 56, 0.9);
    font-weight: 700;
    background: url('https://cdn.builder.io/api/v1/image/assets/TEMP/7f3610aceaa398df208a1174a89324228033fc6f129c7eabea5b07823339930d?placeholderIfAbsent=true&apiKey=c37b27135006443aab5f3858d3155b30') center/cover;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    gap: 9px;
    font: 14px Poppins, sans-serif;
    margin-top: 11px;
  }
  
  .footerText {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
  }
  
  .loginLink {
    color: #0088ff;
    font-weight: 700;
    cursor: pointer;
  }