.container {
    background-color: #fff;
    display: flex;
    max-width: 480px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    padding: 226px 50px;
    font: 12px 'Noto Sans KR', sans-serif;
  }
  
  .title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  
  .verificationSection {
    display: flex;
    gap: 1px;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 60px;
    width: 320px;
    margin-left: 25px;
    
  }
  
  .verifyButton {
    aspect-ratio: 1.69;
    width: 100px;
    height: 50px;
    border: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(56, 56, 56, 0.9);
    background-color: rgb(176, 224, 230);
  }
  
  .submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    width: 100%;
    width:320px;
    
    height: 48px;
    font-size: 20px;
    color: rgba(56, 56, 56, 0.9);
    font-weight: 700;
    background-color: rgb(176, 224, 230);
  }
  
  .footer {
    display: flex;
    justify-content: center;
    gap: 9px;
    font: 14px Poppins, sans-serif;
    margin-top: 11px;
  }
  
  .footerText {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    width:100%;
  }
  
  .loginLink {
    color: #0088ff;
    font-weight: 700;
    cursor: pointer;
  }