/* 전체 페이지 설정-------------------------------------------------- */
.page {
  background-color: rgb(243, 244, 246);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* font-family: Noto Sans KR, -apple-system, Roboto, Helvetica, sans-serif; */
  /* margin: 0 12px; */
  /* padding: 0 12px 0 0; */
}

/* 앱바 ---------------------------------------------------------------------------  */
.notificationBar {
  background-color: #fff;
  display: flex;
  width: 100%;
  gap: 40px 60px;
  font-size: 13px;
  color: #000;
  font-weight: 350;
  text-align: center;
  padding: 3px 3px ;
}

.notificationContent {
  display: flex;
  gap: 14px;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}

.notificationIcon {
  aspect-ratio: 1.09;
  object-fit: contain;
  object-position: center;
  width: 24px;
  padding-left: 5px;
}

.notificationText {
  flex-basis: auto;
}

@media (max-width: 640px) {
  .notificationText {
    margin: 2px -42px 0 -4px;
  }
}

.settingsIcon {
  aspect-ratio: 0.89;
  object-fit: contain;
  object-position: center;
  width: 31px;
  margin-right: 10px;
}

/* 안녕하세요 사용자님 ----------------------------------------------------------------- */
.weatherCard {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  /* margin: 5px; */
  gap: 20px;
  text-align: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 2% 2%;
  
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */

}

.weatherStatus {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  align-self: start;
  margin-bottom: 3px;
}

.greeting {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  margin-top: 0px;
}

.weatherIcon {
  /* aspect-ratio: 1; */
  /* object-fit: contain; */
  /* object-position: center; */
  width: 50px;
  /* align-self: start; */
}
/* 예약하기 버튼 ----------------------------------------------- */
.bookingButton {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0 2%;
  font-size: 20px;

  padding: 11px 27px;
  cursor: pointer;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
}

.bookingText {
  margin: auto 0;
  /* align-items: center;  */
}

.bookingIcon {
  /* aspect-ratio: 1.1; */
  /* object-fit: contain; */
  /* object-position: center; */
  width: 34px;
  
  /* margin-right: auto; */
  position: absolute;
  left:85%;
  /* transform: translateX(-%); */
  
}
/* 빠른예약 ----------------------------------------------------------*/
.quickBooking {
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  margin: 2% 2%;
  /* width: 100%; */
  align-items: end;
  gap: 9px;
  color: #000;
  text-align: center;
  padding: 16px 0 25px 10px;
}

.quickBookingContent {
  align-self: stretch;
  display: flex;
  /* flex-direction: column; */
  /* width: 200px; */
  gap: 10px;
}

.quickBookingTitle {
  font-size: 20px;
  font-weight: 600;
  /* align-self: left; */
  text-align: left;
  margin-left: 20px;
}
/* 빠른 예약 안쪽 ------------------------------------------------------ */
.routeCard {
  width: 100px;
  border-radius: 20px;
  background-color: rgb(243, 244, 246);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  /* display: flex;
  align-items: flex-start; */
  gap: 16px;
  /* white-space: nowrap; */
  padding: 16px 19px 8px;
  /* margin-top: 22px; */
}

.routeInfo {
  /* align-self: start; */
  display: flex;
  /* flex-direction: column; */
  /* flex: 1; */
}

.routeDestination {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 2px;
}
.routeDestination2 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .routeDestination {
    margin-top: -5px;
  }
}

.routeTime {
  /* font-size: 13px; */
  font-weight: 700;
  /* align-self: start; */
  /* margin-top: 4px; */
  /* margin-bottom: 3px; */
}

.routeSeats {
  font-size: 10px;
  font-weight: 500;
  /* align-self: end; */
  margin-top: 4px;
  
}
/* 공지사항 ---------------------------------------------------------------------------- */
.noticeSection {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  align-items: start;
  text-align: center;
  padding: 23px 18px 8px;
  margin: 0 2%;
}

.noticeTitle {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}
.noticeDivider {
  width: 97%;
  max-width: 100%;
  height: 1px;
  margin: auto 0;
  border: 1px solid rgba(0, 0, 0, 0.4); 
}
/* 공지사항 내용 */
.noticeList {
  /* list-style-type: none; */
  padding: 0;
  margin: 20px 0 13px 5px;
  text-align: left;
  margin: 20px;
}

.noticeList li {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.565);
  margin-bottom: 20px;
}

/* 태그 밑줄 옵션 */
.noUnderline {
  text-decoration: none;
}
/* ---------------------------------------------------------------------- */
.noticeFooter {
  align-self: end;
  display: flex;
  margin-top: 6px;
  width: 100%;
  /* max-width: 100%; */
  /* gap: 20px; */
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  justify-content: space-between;
}

.noticeIcon {
  aspect-ratio: 1.04;
  object-fit: contain;
  width: 26px;
}

.noticeText {
  flex-grow: 1; /* 텍스트 영역을 확장 */ 
  text-align: center; /* 텍스트 가운데 정렬 */
  object-position: center;
  font-weight: 700;
}
/* 문제가 있으신가요 ------------------------------------------- */
.supportText {
  color: rgb(0, 136, 255);
  font-size: 14px;
  font-weight: 500;
  align-self: center;
  margin-top: 9px;
}
/* 최근 예약현황이 존재합니다----------------------------------- */
.recentBooking {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  color: rgba(56, 56, 56, 0.9);
  font-weight: 700;
  padding: 6px 0 18px;
}

.recentBookingIcon {
  aspect-ratio: 1.1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  background-color: rgba(0, 0, 0, 0.14);
  align-self: center;
}

.recentBookingContent {
  display: flex;
  /* margin-top: 10px; */
  flex-direction: column;
  align-items: start;
  padding: 0 16px ;
}

.recentBookingTitle {
  font-size: 24px;
  text-align: center;
}

@media (max-width: 640px) {
  .recentBookingTitle {
    margin-right: -30px;
  }
}

.recentBookingDetails {
  font-size: 20px;
  margin-top: 20px;
}

@media (max-width: 640px) {
  .recentBookingDetails {
    margin-top: -1px;
  }
}
