/* 전체 페이지 설정-------------------------------------------------- */
.page {
  background-color: rgb(243, 244, 246);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* font-family: Noto Sans KR, -apple-system, Roboto, Helvetica, sans-serif; */
  /* margin: 0 12px; */
  /* padding: 0 12px 0 0; */
  height: 960px;
}

/* 앱바 ---------------------------------------------------------------------------  */
.notificationBar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px 50px;
  font-size: 13px;
  color: #000;
  font-weight: 350;
  text-align: center;
  padding: 3px 3px;
  box-sizing: border-box;
  height: 65px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notificationContainer{
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
}

.notificationWrapper{
  display: flex;
  flex-direction: column;
  animation: slide linear infinite;
  animation-duration: var(--animation-duration, 5s);
  position: absolute;
  top: 0;
  left: 0;
}

.notificationContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 14px;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  height: 30px;
}

.notificationIcon {
  aspect-ratio: 1.09;
  object-fit: contain;
  object-position: center;
  width: 24px;
  padding-left: 5px;
}

.notificationText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: auto;
  flex-grow: 1;
}

@media (max-width: 640px) {
  .notificationBar{
    gap: 40px 30px;
  }
  .notificationText {
    margin: 2px -42px 0 -4px;
  }
}

.settingsIcon {
  aspect-ratio: 0.89;
  object-fit: contain;
  object-position: center;
  width: 31px;
  margin-right: 10px;
}

@keyframes slide {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* 안녕하세요 사용자님 ----------------------------------------------------------------- */
.weatherCard {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  /* margin: 5px; */
  gap: 20px;
  text-align: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 2% 2%;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
}

.weatherStatus {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  align-self: start;
  margin-bottom: 3px;
}

.greeting {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  margin-top: 0px;
}

.weatherIcon {
  /* aspect-ratio: 1; */
  /* object-fit: contain; */
  /* object-position: center; */
  width: 50px;
  /* align-self: start; */
}
/* 예약하기 버튼 ----------------------------------------------- */
.bookingButton {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0 2%;
  font-size: 20px;

  padding: 11px 27px;
  cursor: pointer;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 텍스트 색상 상속 */
  transition: background-color 200ms ease-in-out;
}
.bookingButton:hover,
.bookingButton:focus {
  background-color: #e1f1ff;
}
.bookingText {
  margin: auto 0;
  /* align-items: center;  */
  font-size: 20px;
  font-weight: 600;
  /* align-self: left; */
  text-align: left;
  color: inherit; /* 텍스트 색상 상속 */
}

.bookingIcon {
  width: 34px;
  margin-left: auto; /* 부모 요소 내에서 오른쪽 정렬 */
  position: relative; /* 부모 요소 내에서 상대 위치 */
}

/* 버스위치 ----------------------------------------------------------*/
.locationButton {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0 2%;
  margin-top: 2%;
  font-size: 20px;

  padding: 11px 27px;
  cursor: pointer;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 텍스트 색상 상속 */
  transition: background-color 200ms ease-in-out;
}
.locationButton:hover,
.locationButton:focus {
  background-color: #e1f1ff;
}
.locationText {
  margin: auto 0;
  /* align-items: center;  */
  font-size: 20px;
  font-weight: 600;
  /* align-self: left; */
  text-align: left;
  color: inherit; /* 텍스트 색상 상속 */
}

.locationIcon {
  width: 34px;
  margin-left: auto; /* 부모 요소 내에서 오른쪽 정렬 */
  position: relative; /* 부모 요소 내에서 상대 위치 */
}

/* 빠른예약 ----------------------------------------------------------*/
.quickBooking {
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  margin: 2% 2%;
  /* width: 100%; */
  align-items: end;
  gap: 9px;
  color: #000;
  text-align: center;
  padding: 16px 0 25px 10px;
}

.quickBookingContent {
  align-self: stretch;
  display: flex;
  /* flex-direction: column; */
  /* width: 200px; */
  /* gap: 10px; */
}

.quickBookingTitle {
  font-size: 20px;
  font-weight: 600;
  /* align-self: left; */
  text-align: left;
  margin-left: 20px;
}
/* 빠른 예약 안쪽 ------------------------------------------------------ */
.routeCard {
  width: 100px;
  border-radius: 20px;
  background-color: rgb(243, 244, 246);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  /* display: flex;
  align-items: flex-start; */
  gap: 16px;
  /* white-space: nowrap; */
  padding: 16px 19px 8px;
  /* margin-top: 22px; */
}

.routeInfo {
  /* align-self: start; */
  display: flex;
  /* flex-direction: column; */
  /* flex: 1; */
}

.routeDestination {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.routeDestination2 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .routeDestination {
    margin-top: -5px;
  }
}

.routeTime {
  /* font-size: 13px; */
  font-weight: 700;
  /* align-self: start; */
  /* margin-top: 4px; */
  /* margin-bottom: 3px; */
}

.routeSeats {
  font-size: 10px;
  font-weight: 500;
  /* align-self: end; */
  margin-top: 4px;
}
/* 공지사항 ---------------------------------------------------------------------------- */
.noticeSection {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  align-items: start;
  text-align: center;
  padding: 23px 18px 8px;
  margin: 0 2%;
}

.noticeTitle {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}
.noticeDivider {
  width: 97%;
  max-width: 100%;
  height: 1px;
  margin: auto 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}
/* 공지사항 내용 */
.noticeList {
  /* list-style-type: none; */
  padding: 0;
  margin: 20px 0 13px 5px;
  text-align: left;
  margin: 20px;
}

.noticeList li {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.565);
  margin-bottom: 20px;
}

/* 태그 밑줄 옵션 */
.noUnderline {
  text-decoration: none;
}
/* ---------------------------------------------------------------------- */
.noticeFooter {
  align-self: end;
  display: flex;
  margin-top: 6px;
  width: 100%;
  /* max-width: 100%; */
  /* gap: 20px; */
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  text-decoration-line: none;
  justify-content: space-between;
}

.noticeIcon {
  aspect-ratio: 1.04;
  object-fit: contain;
  width: 26px;
}

.noticeText {
  flex-grow: 1; /* 텍스트 영역을 확장 */
  text-align: center; /* 텍스트 가운데 정렬 */
  object-position: center;
  font-weight: 700;
}
/* 문제가 있으신가요 ------------------------------------------- */
.supportText {
  color: rgb(0, 136, 255);
  font-size: 14px;
  font-weight: 500;
  align-self: center;
  margin-top: 9px;
}
/* 최근 예약현황이 존재합니다----------------------------------- */
.recentBooking {
  position: fixed; /* 화면 하단에 고정 */
  bottom: 0; /* 하단에 위치 */
  width: 100%; /* 전체 너비를 차지하도록 설정 */
  max-width: 500px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: rgba(56, 56, 56, 0.9);
  font-weight: 700;
  padding: 6px 0 18px;
  z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
  transition: transform 3s ease-in-out; /* 스와이프 애니메이션 */
  overflow-y: auto; /* 내부 콘텐츠가 스크롤 가능하도록 설정 */
  height: 150px; /* 초기 높이 설정 */
}
@media (min-height: 960px) {
  .recentBooking {
    bottom: calc(100vh - 980px); /* 화면 높이에서 960px을 뺀 값으로 설정 */
  }
}

.recentBooking.swipedUp {
  bottom: -15vh;
  height: 100vh;
  transform: translateY(-85vh);
}

.recentBookingIcon {
  aspect-ratio: 1.1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  background-color: rgba(0, 0, 0, 0.14);
  align-self: center;
}

.recentBookingContent {
  display: flex;
  /* margin-top: 10px; */
  flex-direction: column;
  padding: 0 16px;
}

.recentBookingTitle {
  font-size: 20px;
}

/* @media (max-width: 640px) {
  .recentBookingTitle {
    margin-right: -5px;
  }
} */

/* .recentBookingDetails {
  font-size: 16px;
  margin-top: 5px;
  margin-right: 10px;
} */

/* @media (max-width: 640px) {
  .recentBookingDetails {
    margin-top: -1px;
  }
} */
