.loginContainer {
  background: #fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 700 14px 'Noto Sans KR', -apple-system, Roboto, Helvetica, sans-serif;
}

.logo {
  width: 170px;
  aspect-ratio: 1;
  object-fit: contain;
}

.title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  text-align: center;
  margin-top: 16px;
}

.loginForm {
  display:contents;  
  width: 100%;
  margin-top: 45px;
}

.inputField {
  width: 250px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: #fff;
  font-size: 12px;
  color: rgba(12, 5, 5, 0.7);
  font-weight: 400;
  margin-bottom: 13px;
  padding-right: 20px; /* 아이콘 공간 확보 */
  box-sizing: border-box;
}

.passwordContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: #fff;
  position: relative;
  width: 100%;
}

.passwordIcon {
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
  object-fit: contain;
}

.loginButton {

  width: 250px;
  margin-top: 15px;
  padding: 14px;
  border-radius: 20px;
  color: rgba(56, 56, 56, 0.9);
  position: relative;
  border: none;
  cursor: pointer;
}

.loginButtonBg {
  position: absolute;
  inset: 0;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
}

.loginButtonText {
  position:relative;
  z-index: 1;
  text-align: center;
  font-size:12px;
  
}

.helpLinks {
  display: flex;
  gap: 8px;
  margin-top: 14px;
  color: #0088ff;
  font-weight: 500;
}

.divider {
  width: 1px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.newUserText {
  color: #0088ff;
  font-weight: 500;
  margin-top: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.inputWrapper {
  position: relative;
}

.iconButton {
  position: absolute;
  right: 65px;
  
  top: 50%;
  transform: translateY(-70%);
  background: none;
  border: none;
  cursor: pointer;
}