.card {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 85%;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 0 18px;
  margin-top: 13px;
}

.bookingInfo {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 5%;
}

.route {
  font-size: 24px;
  align-self: stretch;
}

.date {
  font-weight: 400;
  margin-top: 5px;
}

.time {
  margin-top: 5px;
}

.seatDisplay {
  margin-bottom: 10px;
  font-size: 35px;
  margin-right: 5%;
}

.seatNumber {
  font-size: 25px;
}

.seatLabel {
  font-size: 25px;
}

.divider {
  align-self: stretch;
  width: 1px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
}

.status {
  font-size: 25px;
  align-self: stretch;
  margin: auto 10px;
  margin-right: 10%;
}

.notBoarded {
  color: #ff0000;
  font-size: 25px;
  align-self: stretch;
  margin: auto 10px;
  margin-right: 5%;
}
