.scheduleContainer {
  /* width: 100%; */
  /* margin: 0 auto; */
  background: #f3f4f6;
  font-family: 'Noto Sans KR', -apple-system, Roboto, Helvetica, sans-serif;
  color: #000;
  padding-bottom: 54px;
  width: 360px;
  
}

.scheduleHeader {
  background: #fff;
  padding: 20px 16px;
  display: flex;
  gap: 40px;
  align-items: center;
  /* width: 100%;.loginContainer {
  background: #fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 700 14px 'Noto Sans KR', -apple-system, Roboto, Helvetica, sans-serif;
} */
}

.headerIcon {
  width: 39px;
  aspect-ratio: 1.05;
  /* object-fit: contain; */
  /* margin: auto 0; */
}

.headerTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.scheduleGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px 7px;
  padding: 18px 2%;
  /* width: 100%; */
}

.scheduleCard {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  text-align: left;
  /* margin : 13px; */
}

.locationName {
  color: #333;
  font-size: 23px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}

.departureTime,
.arrivalTime {
  margin: 0;
  font-size: 11px;
  font-weight: 600;
}

.noSchedule {
  color: #f61857;
}